html{

  background-image:  url("./img/background-topic-training-education-desk-with-books-bookcase-window-defocus-school-concept-greeting-card-with-start-learning_95018-358.jpg ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%; 
  
/* background: #2193b0;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #eefcff, #95e3f7);  
background: linear-gradient(to right, #daf8ff, #9feafc);   */
}

.cardbox{
    /* border: solid; */
    margin: 40px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.cardbox {
   
  background-image: url("./img/booksHD.jpg");
  
  padding-top: 10px;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .cardbox::after {
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .cardbox:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
  }
  
  .cardbox:hover::after {
      opacity: 1;
  }

  #form-Div{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 60px;
    background-image: url("./img/booksHD.jpg");
    
  }

  hr:not([size]) {
    height: 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#login-div{
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  border-radius: 6px;
  padding: 60px;
  margin: 30%;
  text-align: center;
  background-image: url("./img/booksHD.jpg")
}


#cartDiv{
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  padding: 60px;
  text-align: center;
  background-image: url("./img/booksHD.jpg");
  
}

body{

  background-image:  url("./img/background-topic-training-education-desk-with-books-bookcase-window-defocus-school-concept-greeting-card-with-start-learning_95018-358.jpg ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%; 
/* background: #2193b0;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #eefcff, #95e3f7);  
background: linear-gradient(to right, #daf8ff, #9feafc);   */
}

#welcome{
  text-align: center;
  color: beige;
}